<!--

<h1>New Event</h1>

<%= form_with model: @event, url: events_path do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <%= form.submit 'Create Event' %>
<% end %>

-->

<h1>New Event</h1>

<form action="<%= events_path %>" method="post">
  <%= csrf_meta_tags %>

  <div>
    <label for="event_title">Title</label>
    <input type="text" name="event[title]" id="event_title" />
  </div>

  <div>
    <label for="event_location">Location</label>
    <input type="text" name="event[location]" id="event_location" />
  </div>

  <div>
    <label for="event_date">Date</label>
    <input type="date" name="event[date]" id="event_date" />
  </div>

  <input type="submit" value="Create Event" />
</form>