<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
  <nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Events', events_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'My Profile', user_path(current_user) %></li>
    <% end %>
  </ul>
  </nav>

    <%= yield %>

  </body>
</html>
